{% extends 'base.html' %}
{% load static %}

{% block title %}
Changepass |
{% endblock title %}


{% block body %}
<div class="container">
    <div class="row border">
        <div class="col-12">
            <div class="p-3 display-4 text-center">Change Password</div>
        </div>
    </div>

    <div class="row border">
        <div class="col-6 border">
            <div class="p-5">
                <!-- Message Display -->
                <div class="row">
                    <div class="col">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!-- Error Display -->
                <div class="row">
                    <div class="col">
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{error}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group">
                        <label>{{fm.label_tag}}</label>
                        {{fm}} {{fm.errors|striptags}}
                    </div>
                    {% endfor %}
                    <button class="btn btn-block btn-success" type="submit">Update</button>
                </form>
            </div>


        </div>

    </div>
</div>
{% endblock body %}