{% extends 'base.html' %}
{% load static %}


{% block title %}
    PassResetDone
{% endblock title %}
    

{% block body %}
<div class="card-header bg-secondary text-light h5">
    <strong style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Well done !</strong>
</div>
<div class="p-2">
    An Email has been sent with instructions to reset your password. <b class="text-success">Check Your Email!</b>
</div>
<div class="mt-2 col-2" >
    <a class="btn btn-warning" href="{% url 'signin' %}">Go Signin</a>
</div>
<hr>
{% endblock body %}
    